nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    background: #fff;
    z-index: 1000;
    width: 100%;
    top: 0;

    h1 {
        a {
            display: block;
            width: 180px;
            height: 60px;
            background: url("/src/assets/image/logo/logo01.png") center no-repeat;
            background-size: cover;
            text-indent: 101%;
            white-space: nowrap;
            overflow: hidden;
        }
    }

    .desktopNav {
        display: flex;

        .normalLink {
            display: flex;
            align-items: center;
            margin-right: 80px;
            gap: 25px;

            a {
                display: block;
                font-size: 18px;
                font-weight: bold;
                color: #000;
            }
        }

        .boxLink {
            display: flex;

            li {
                width: 80px;
                height: 80px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 5px;

                &:first-child {
                    background: #000;
                }

                &:nth-child(2) {
                    background: #B4A27F;
                }

                &:last-child {
                    background: #A02C2C;
                }

                a {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    gap: 5px;
                    color: #fff;
                    text-align: center;
                }
            }
        }
    }

    .hamBtn {
        display: none;
        position: absolute;
        width: 40px;
        height: 30px;
        left: 20px;
        padding: 0;
        background: transparent;
        border-radius: 5px;
        border: none;
        transition: 0.6s;

        .ham {
            width: 28px;
            height: 2px;
            background: rgb(32, 32, 32);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            &::before {
                content: '';
                position: absolute;
                display: block;
                width: 28px;
                height: 2px;
                background: rgb(32, 32, 32);
                transform: rotate(0deg) translateY(-7px);

            }

            &::after {
                content: '';
                position: absolute;
                display: block;
                width: 28px;
                height: 2px;
                background: rgb(32, 32, 32);
                transform: rotate(0deg) translateY(7px);
            }
        }
    }

    @include lg {
        h1 {
            margin: auto;
        }

        .desktopNav {
            display: none;
        }

        .hamBtn {
            display: block;
        }
    }
}

.mobilewrap {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: transparent;

    &.active {
        z-index: 1001;
        background: rgba($color: #000000, $alpha: 0.5);
    }
}

.mobileNav {
    width: 40%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    z-index: 10002;
    transition: 0.5s;
    padding: 50px 30px 30px 30px;
    overflow-y: auto;

    &.active {
        left: 0;
    }

    @include sm {
        width: 70%;
        left: -70%;
        padding: 30px 10px 10px 10px;
    }

    label {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        input {
            width: 100%;
            border: none;
            background: #f7eedd;
            padding: 15px;
            border-radius: 10px;

            &:focus {
                outline: 1px solid #f0a00c;
            }
        }

        i {
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
        }
    }

    ul {
        .page_link {
            padding: 0 15px;
            margin: 35px 0;
            font-size: 18px;
            margin-bottom: 20px;
            color: #A02C2C;

            .drop_link {
                display: flex;
                justify-content: space-between;

                &::after {
                    font-family: "Font Awesome 6 Free";
                    font-weight: 900;
                    content: "\f105";
                    font-size: 14px;
                }

                &.show::after {
                    content: "\f078";
                }
            }

            .dropdown-menu {
                position: static !important;
                transform: none !important;
                border: none;

                .dropdown-item {
                    padding: 0 0 0 10px;
                    margin: 10px 0;
                }
            }
        }

        &:last-child {
            .down_link {
                display: flex;
                align-items: center;
                justify-content: space-between;
                border-radius: 10px;
                padding: 15px;
                margin: 20px 0;
                width: 100%;
                color: #fff;
            }

            .link1 {
                background: #A02C2C;
            }

            .link2 {
                position: relative;
                background: #b4a27f;

                span {
                    position: absolute;
                    width: 15px;
                    height: 15px;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #fff;
                    background: #A02C2C;
                    top: 10px;
                    right: 5px;
                }
            }

            .link3 {
                background: #000;
            }
        }
    }
}