.changePW {
    form {
        width: 70%;
        margin: 0 auto;

        .inputArea {
            margin-bottom: 20px;

            &>label {
                gap: 0px;

                span {
                    color: #FF0000;
                }
            }
        }
    }

    .successMsg {
        text-align: center;

        p {
            margin-bottom: 80px;
            font-size: 30px;
            font-weight: bold;
            color: #A02C2C;
        }
    }
}