.logout {
    .successMsg {
        text-align: center;

        p {
            margin-bottom: 80px;
            font-size: 30px;
            font-weight: bold;
            color: #A02C2C;
        }
    }
}