.news {
    .pageTitle {
        margin-bottom: 30px;
    }

    .newsList {

        li {
            margin-bottom: 80px;

            &:last-child {
                margin-bottom: 0;
            }

            img {
                width: 100%;
                border-radius: 30px;
            }

            .date {
                margin-bottom: 20px;
            }

            .title {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;
            }

            .content {
                margin-bottom: 20px;
            }

            a {
                display: block;
                width: 170px;
                padding: 5px;
                background: #fff;
                box-shadow: 1px 1px 1px 2px #F6EEDD;
            }
        }
    }
}