.orderDetail {
    .topList {
        margin-bottom: 36px;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
    }

    h4 {
        color: #fff;
        background: #A02C2C;
        padding: 15px 30px;
    }

    .detailItem {
        display: flex;
        gap: 10px;
        margin-bottom: 10px;
        flex-wrap: wrap;
        font-size: 18px;
        word-break: break-all;

        p {
            &.red {
                color: #A02C2C;
            }

            &:first-child {
                width: 120px;
                border-right: 1px solid rgba($color: #000000, $alpha: 0.16);
            }

            &:nth-child(2) {
                width: calc(100% - 130px);
                display: flex;
                flex-wrap: wrap;

                span {
                    color: #A02C2C;
                }
            }
        }
    }

    .section1,
    .section2 {
        display: flex;
        gap: 20px;
        padding: 15px 30px;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.16);

        &>div {
            width: 50%;
        }
    }

    @include md {

        .section1,
        .section2 {
            flex-direction: column;

            &>div {
                width: 100%;
            }
        }
    }

    .section3 {
        padding: 15px 30px;
    }

    table {
        width: 100%;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);

        thead {
            background: #A02C2C;
            border: 1px solid #A02C2C;

            th {
                font-size: 18px;
                padding: 10px;
                color: #fff;
                text-align: center;
            }
        }

        tbody {
            td {
                text-align: center;
                vertical-align: middle;
                padding: 20px;
                border-bottom: 1px solid rgba($color: #000000, $alpha: 0.16);

                &.red {
                    color: #CC002B;
                }

                div {
                    display: flex;
                    align-items: center;
                    justify-content: flex-start;
                    gap: 20px;

                    img {
                        width: 170px;
                        height: 170px;
                        border-radius: 30px;
                        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
                    }
                }
            }
        }
    }
}