.orderMethod2 {
    border-bottom: 1px solid #707070;
    padding-bottom: 120px;
    margin-bottom: 60px;

    h4 {
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 16px;
    }

    p {
        margin-bottom: 10px;
        font-size: 18px;

        span {
            color: #A02C2C;
            font-size: 20px;
            font-weight: bold;
        }
    }
}