.phoenCaptcha {
    margin-bottom: 30px;

    .pageTitle {
        margin-bottom: 20px;
    }

    form {
        width: 50%;
        margin: 0 auto;

        p {
            text-align: center;
            color: #A02C2C;
            font-size: 17px;
            margin-bottom: 40px;
        }

        .inputArea {
            margin-bottom: 35px;
        }

        button {
            margin-top: 60px;
            display: block;
            margin: 0 auto;
        }
    }

    @include lg {
        form {
            width: 100%;
        }
    }
}